<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOC Kaizen OpenStack - New Project</title>
    <link rel="stylesheet" type="text/css" href="static/setpass.css"> 
</head>
<body>

<h1>Request a New OpenStack project</h1>

<p>Please fill out the following to request your new project. All fields are required.</p>


<form action="#" method="post">
    <fieldset>
        <div>
            <label>First Name: </label>
            <input name="first_name"/>
            <label>Last Name: </label>
            <input name="last_name"/>
        </div>
        <div>
            <label>OpenStack username:</label><input name="email"/>
            <input name="os_user"/>
        </div>
        <div>
            <label>Openstack password:</label>
            <input name="os_pass"/>
        </div>
        <div>
            <label>Desired name for new project:</label>
            <input name="os_project"/>
        </div>
        <div>
            <label>Description of the new project:</label>
            <textarea name="project_description" rows="4" cols="50">Type a short description of your project and its goals here.</textarea>
        </div>
        
   </fieldset>
   <br/>
   <input type="submit" value="Submit">
</form>

</body>
</html>
